@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}

#game{
    display: none;
    width: 500px;
    height: 100vh;
    margin: 0 auto;
    background: url("../resource/images/starfield.png") center 0 / 512px repeat-y;
    animation: movingBg 3s linear infinite;
    position: relative;

}

@keyframes movingBg{
 0%{background-position: center 0;}
 100%{background-position: center 512px;}   
}
.start {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    position: absolute;
}

.start>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}
.startText{
    color: #fff;
    font-size: 4rem;
    text-align: center;
    margin: auto 0;
}
.startBtn {
    font-size: 1.8rem;
    padding: 10px 20px;
    display: block;
    margin: auto;
}

.player {
    position: absolute;
    bottom: 50px;
    left: calc(250px - 14px);
}
.alien{
    display: none;
    position: absolute;

}
